.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center; /*to center the dark button of see more here bcs text-align effect the elements like buttons span img links ..ect */
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.gallery img{
    width: 23%;
    border-radius: 10px;
}